.devcontainer
.editorconfig
.env
.env.template
.git
.gitattributes
.github
.gitignore
.husky
.prettierignore
.vscode
**/*.dockerignore
**/*Dockerfile
**/dist
**/node_modules
commitlint.config.js
knip.config.js
prettier.config.js
README.md
