@use "../../styles/bootstrap";
@use "../../styles/variables";
@use "sass:map";

.carousel__view-asset {
  height: 350px;
  width: auto;

  @include bootstrap.media-breakpoint-up(sm) {
    height: unset;
    width: unset;
    min-height: 250px;
    max-height: 500px;
    aspect-ratio: 16/9;
  }
}

.options-icon {
  transition: transform map.get(variables.$animation-duration, "standard")
    ease-in-out;
  transform: rotate(0deg);
}

.options-icon.active {
  transform: rotate(45deg);
}
