@use "variables";
@use "bootstrap";
@use "common";

@include bootstrap.bootstrap-layer;

:root {
  --bg-blur: #{variables.$bg-blur};
}

// Sets the default icon size to match the current text size
.bi {
  width: 1em;
  height: 1em;
}
