@use "../../styles/variables";
@use "sass:map";

.dropdown-caret {
  width: 0.5rem;
  height: 0.5rem;
  transition: transform map.get(variables.$animation-duration, "standard")
    ease-in-out;
  transform: rotate(0deg);
}

.dropdown-caret.active {
  transform: rotate(180deg);
}
